subscription_key=7387424f11ab4ec7b08b31f4a4f7f823
consumer_key=0D1k9X4rvKeNjJMU6AjyOYfv2
consumer_secret=L2sPX4appghs9F4afaT1ISNyHxWgGJAXSoEumzJOQS6IjvltCF
access_token=434339373-8DKIoTsy5K2OfH8DYdvofQUtAILjZ6ZFQWj4DwJc
access_token_secret=MbNois2Rfcmtv2EvHb31jjIqm5cHV5oUZQHA5pRJrw6MX
model_location=/home/john/polyglot_data/embeddings2/sv/embeddings_pkl.tar.bz2
